---
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout title="Home">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id inventore optio
    minus, maiores, nobis quam dolorem cumque modi ducimus vel dolores excepturi
    aliquam, odit labore. Vel possimus nam obcaecati qui!
  </p>
</BaseLayout>
